/* src/index.css */
@import "tailwindcss";

html, body {
  height: 100%;
  overscroll-behavior-y: contain;
  overflow: hidden;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
